body
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin: 0;
    padding: 0;

    color: #000;
    background-color: #fff;
}

*{
    outline: 1px solid rgba(115, 115, 115, .4);
}

.container
{
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header
{
    margin-bottom: 80px;
    padding-top: 49px;

    background-color: #eee;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.main-header-logo img:hover
{
    opacity: .8;
}

.main-header-logo img:active
{
    opacity: .3;
}


.main-header-logo
{
    width: 160px;
    height: 65px;
    margin-right: 46px;
}

.main-navigation
{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;

    display: flex;

    text-transform: uppercase;

    color: #000;
    background-color: #eee;

    align-items: center;
    justify-content: space-between;
}

.site-navigation
{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;

    display: flex;

    max-width: 760px;
    padding: 0;

    list-style: none;

    color: #000;

    align-items: center;
    justify-content: space-between;
}

.basket {
  position: relative;
    padding-left: 40px;
    text-transform: uppercase;

    color: #000;
}

.basket::before {
  position: absolute;

  content: "";
  top: 6px;
  left: 1px;


  width: 18px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;


}

.site-navigation a,
.basket a
{
    display: block;
}

.site-navigation li
{
    margin-right: 43px;
}

.link-current
{
    border-bottom: 2px solid #fb565a;
}

.site-navigation a
{
    color: #000;
}

.site-navigation a:hover
{
    color: #fb565a;
}

.site-navigation a:active
{
    color: #bdbdbd;
}


.basket:hover
{
    color: #fb565a;
}

.basket:active
{
    color: #bdbdbd;
}

.catalog-page .basket:hover
{
    color: #fb565a;
}

.catalog-page .basket:active
{
    color: #bdbdbd;
}


.slider-list
{
    list-style: none;
}


.slider-item
{
    text-align: center;
}

.slider-item b
{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;

    color: #000;
}

.slider-item p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    color: #283136;
}

.slider-controls
{
    list-style: none;
}

.slider-slogan
{
    font-size: 25px;
    line-height: 45px;
}

.services
{
    margin-bottom: 80px;
}

.services-list
{
    display: flex;

    padding: 0;

    list-style: none;
}

.service-item
{
    width: 300px;
    margin-right: 100px;

    text-align: left;
}

.service-item h3
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    text-align: left;
    text-transform: uppercase;
}

.service-item p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    text-align: left;

    color: #283136;
}


.more-button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 240px;
    padding: 16px 16px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}

.more-button:hover
{
    background-color: #e74246;
}

.more-button:active
{
    background-color: #d7373b;
    box-shadow: inset 0 3px rgba(0,1,1,.1);
}

.order-button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 160px;
    padding: 16px 16px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}

.service-item:nth-child(2) > .order-button
{
    color: #fff;
    background-color: #00ca74;
}

.service-item:nth-child(3) > .order-button
{
    color: #fff;
    background-color: #efc84a;
}

.order-button:hover
{
    background-color: #e74246;
}

.service-item:nth-child(2) > .order-button:hover
{
    background-color: #00bc6c;
}

.service-item:nth-child(3) > .order-button:hover
{
    background-color: #eab534;
}

.order-button:active
{
    background-color: #d7373b;
    box-shadow: inset 0 3px rgba(0, 1, 1, .1);
}

.service-item:nth-child(2) > .order-button:active
{
    background-color: #00aa62;
    box-shadow: inset 0 3px rgba(0, 1, 1, .1);
}

.service-item:nth-child(3) > .order-button:active
{
    background-color: #e5a722;
    box-shadow: inset 0 3px rgba(0, 1, 1, .1);
}

.about
{
    display: flex;

    margin-bottom: 75px;

    justify-content: space-between;
}

.about-column-left
{
    width: 660px;
}

.about-column-right
{
    width: 360px;
}

.about-list
{
    margin-top: 40px;
    padding: 0;

    list-style: none;
}

.slogan-about
{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}


.about h3
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    margin-top: 48px;

    text-transform: uppercase;
}

.about p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    margin-top: 37px;

    color: #283136;
}

.about-item
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    position: relative;

    padding-left: 36px;
}

.about-item::before
{
    position: absolute;
    top: 10px;
    left: -1px;

    width: 25px;
    height: 2px;

    content: '';

    background-color: #fb565a;
}

.about-table caption
{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    padding-bottom: 50px;

    caption-side: top;

    text-align: center;
    text-transform: uppercase;

    color: #000;
}


.about-table th
{
    font-size: 45px;
    font-weight: 700;

    width: 33.3%;
    padding-bottom: 30px;

    text-align: left;

    color: #000;
}

.about-table td
{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

    color: #283136;
}

.about-table sup
{
    font-size: 57%;

    top: -15px;
}

.partners-list
{
    display: flex;

    padding: 0;

    list-style: none;

    justify-content: space-between;
}

.partners-item
{
    display: flex;

    width: 260px;
    height: 178px;

    align-items: center;
    justify-content: center;
}

.partners-item img
{
    display: block;
}

.partners-item:not(:last-child),
.partners-item:not(:nth-child(4n))
{
    margin-right: 40px;
}

.partners a
{
    opacity: .2;
}

.partners a:hover
{
    opacity: 1;
}

.partners a:active
{
    opacity: .1;
}

.page-title
{
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;

    margin-top: 112px;
    padding-bottom: 114px;

    text-align: center;

    color: #000;
}

.container ul
{
    list-style: none;
}


.filters
{
    width: 260px;
}

.templates
{
    width: 760px;
}

.catalog-columns
{
    display: flex;

    justify-content: space-between;
}


.filter-item
{
    margin: 0;
    padding: 0;

    border: none;
}

.range-filter
{
    width: 260px;
    margin-top: 49px;
}

.filter-item legend {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;
}

.range-controls
{
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    border-radius: 5px;
    background-color: #f1f1f1;
}

.range-controls .scale
{
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar
{
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle
{
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min
{
    left: 50px;
}

.range-controls .toggle-max
{
    left: 110px;
}

.price-controls
{
    font-size: 0;
}

.price-controls label
{
    font-size: 16px;

    display: inline-block;

    width: 50%;

    text-transform: uppercase;
}

.price-controls input
{
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;

    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;

    text-align: center;

    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price
{
    text-align: right;
}

.filter legend {
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    text-transform: uppercase;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;

  border: none;
}

.filter ul
{
  margin: 0;
  padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    color: #283136;
}

.filter-option {
  padding-left: 36px;
  margin-bottom: 30px;
}

.filter-option label {
  position: relative;
  display: block;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;

  width: 23px;
  height: 23px;
  opacity: 0.5;


  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -2px;

  width: 22px;
  height: 22px;
  opacity: 0.5;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -35px;
  top: -1px;

  width: 25px;
  height: 25px;
  opacity: 0.5;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -35px;
  top: -1px;

  width: 24px;
  height: 24px;
  opacity: 0.5;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:not(:disabled) + label:hover,
.filter-input:not(:disabled) + label:hover::before,
.filter-input:not(:disabled):focus + label,
.filter-input:not(:disabled):focus + label::before {
  color: #000000;
  opacity: 1;
}

.filter-input:not(:disabled) + label:hover,
.filter-input:not(:disabled) + label:hover::after,
.filter-input:not(:disabled):focus + label,
.filter-input:not(:disabled):focus + label::after {
  color: #000000;
  opacity: 1;
}



.filter-input:hover + label
{
    color: #000;
}

.filter-input:disabled + label
{
    opacity: .2;
}

.filter-button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 260px;
    padding: 16px 16px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #000;
    border: none;
    border-radius: 3px;
    background-color: #eee;
}

.filter-button:hover,
.filter-button:focus
{
    background-color: #dfdfdf;
}

.filter-button:active
{
    color: #a9a9a9;
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}


.sort h2
{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;

    text-transform: uppercase;

    color: #000;
}

.sort-list
{
    display: flex;

    padding: 0;
}




.sort-link
{
    font-size: 14px;
    line-height: 18px;

    margin-right: 25px;

    text-transform: uppercase;

    color: rgba(000, 000, 000, .3);
}

.sort-link:hover,
.sort-link:focus
{
    color: rgba(000, 000, 000, .6);
}

.sort-link:active,
.sort-item .current
{
    color: #000;
}

.sort-arrow {
  margin-left: 20px;
}

.sort-arrow::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  border: 10px solid #a6a6a6;
  border-right-width: 5.5px;
  border-right-color: transparent;
  border-left-width: 5.5px;
  border-left-color: transparent;
  opacity: 0.2;
}

.sort-arrow-down::before {
  border-bottom-width: 0;
}

.sort-arrow-up::before {
  border-top-width: 0;
}

.sort-arrow-current:focus::before,
.sort-arrow-current:hover::before {
  border-top-color: #a6a6a6;
  border-bottom-color: #a6a6a6;
  opacity: 1;
}

.sort-arrow:active::before,
.sort-arrow-current::before,
.sort-arrow-current:active::before {
  border-top-color: #010101;
  border-bottom-color: #010101;
  opacity: 1;
}

.catalog-list
{
    display: flex;

    margin-bottom: 25px;
    padding: 0;

    flex-wrap: wrap;
}

.catalog-filter
{
    display: flex;

    margin-bottom: 60px;

    justify-content: space-between;
}

.catalog-filter-wrapper
{
    display: flex;

    justify-content: space-between;
}

.catalog-item {
  position: relative;
    width: 360px;
    margin-right: 40px;
    margin-bottom: 35px;

    text-align: center;
    border-top: 40px solid rgba(77,77,77,0.12);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 16px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 23px 0 #ffffff,46px 0 #ffffff;
}


.catalog-item:nth-child(2n)
{
    margin-right: 0;
}

.catalog-item-price
{
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  padding-bottom: 42px;
  box-sizing: border-box;
  background-color: #eee;
}

.catalog-item:hover .catalog-item-price {
    z-index: 0;
}

.catalog-item-price h3
{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 30px;

    text-transform: uppercase;

    color: #000;
}

.catalog-item-price p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    max-height: 50px;
    margin-bottom: 30px;
    margin-top: 25px;

    color: #666;
}

.catalog-item-price h3 a
{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    text-transform: uppercase;

    color: #000;
}

.catalog-item-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 200px;
    padding: 16px 16px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}

.catalog-item-button:hover
{
    background-color: #e74246;
}

.catalog-item-button:active
{
    background-color: #d7373b;
    box-shadow: inset 0 3px rgba(0,1,1,.1);
}

.pagination-list
{
    display: flex;

    padding: 0;
}

.pagination-item:last-child .pagination-link
{
    display: inline-block;

    min-width: 260px;
}


.pagination-item a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    margin-right: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
    border: 2px solid #eee;
    border-radius: 2px;
    background-color: #eee;
}

.pagination-link
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 50px;
    padding: 16px 16px;

    text-transform: uppercase;

    color: #000;
    border: 2px solid #eee;
    border-radius: 2px;
    background-color: #eee;
}

.pagination-link:hover
{
    background-color: #dfdfdf;
}

.pagination-link:hover,
.pagination-link:focus
{
    border-color: #dfdfdf;
    background-color: #dfdfdf;
}

.pagination-link:active
{
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination-list .current
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 50px;
    padding: 16px 16px;

    text-align: center;
    vertical-align: middle;

    border: 2px solid #dbdbdb;
    background-color: transparent;
}

.main-footer
{
    margin-top: 80px;
    padding-bottom: 70px;

    background-color: #fff;
}

.catalog-page .main-footer
{
    margin-top: 60px;
}


.social-list
{
    display: flex;

    width: 260px;
    margin-right: 140px;
}



.footer-contacts img
{
    width: 1440px;
    height: 416px;
}

.contacts-name
{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    text-transform: uppercase;

    color: #000;
}

.contacts-widget
{
    position: absolute;
    z-index: 1;
    top: 54px;

    width: 219px;
    padding: 50px 50px 47px;

    background-color: #fff;
}

.footer-contacts
{
    position: relative;

    min-height: 416px;
    margin-bottom: 68px;

    background: url(../img/map.jpg) no-repeat top center;
    background-size: auto;
}

.footer-contacts p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;

    color: #666;
}

.button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}

.contact-button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 220px;
    padding: 16px 16px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}

.contact-button:hover,
.send-button:hover
{
    background-color: #e74246;
}

.contact-button:active,
.send-button:active
{
    background-color: #d7373b;
    box-shadow: inset 0 3px rgba(0,1,1,.1);
}

.social-list
{
    display: flex;

    padding: 0;

    list-style: none;

    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-button
{
    display: flex;

    width: 79px;
    height: 79px;

    border-radius: 50%;
    background-color: #e1e1e1;

    align-items: center;
    justify-content: center;
}

.social-button:hover
{
    background-color: #e74246;
}

.social-button:focus
{
    background-color: #d7373b;

    fill-opacity: .3;
}

.footer-social
{
    display: flex;
}

.footer-social b
{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;

    color: #000;
}

.footer-social p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    color: #444;
}



.modal h2 {
    margin: 0;
    margin-bottom: 53px;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    color: #000;
}

.modal p {
  margin: 0;
  margin-bottom: 35px;
}

.modal-button
{
    color: #000;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal {
  width: 760px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 70px 100px 84px;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 40px rgba(0,1,1,0.75);
  background-color: #ffffff;
  z-index: 10;
  display: none;


}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  left: -1px;

  width: 25px;
  height: 3px;

  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: rgba(251, 86, 90, 1);
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.modal textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 19px 15px;
    padding-right: 40px;
    font: inherit;
    font-size: 16px;
    line-height: 18px;

    color: #b7b7b7;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    background-color: #ffffff;
}

.modal label
{
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.contact-form-info {
  width: 360px;
}

.contact-form-info:last-of-type {
  width: 100%;
}

.contact-form input:hover
{
    border-color: #b4b9bb;
}

.contact-form textarea:hover
{
    border-color: #b4b9bb;
}

.contact-form input:focus
{
    color: #b7b7b7;
    border-color: #000;
}

.contact-form textarea:focus
{
    color: #b7b7b7;
    border-color: #000;
}

.send-button
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 220px;
    padding: 16px 16px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #fb565a;
}
